@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.app__form{
    padding: 25px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #e9e9eb;
    width: 90%;
    margin: 20px auto;
    left: 3%;
    border-radius: 10px;
    right: 3%;
}

.app__formControl{
    display: flex !important;
    flex-direction: row !important;
}

.app__input{
    flex: 1;
}
.app__iconButton{
    flex: 0;
}




